:root {
  --bg-base: transparent;
  --bg-prim-color: #FFFFFF;
  --bg-sec-color: rgba(197, 235, 248, 0.4);
  --bg-tert-color: #95C0CE;

  --bg-prim-past-color: #968f8f;
  --bg-sec-past-color: #777070;
  
  
  --bg-button-prim-color: rgb(234, 250, 255);
  --bg-button-sec-color: #F2F2F2;
  --bg-button-tert-color: #FFFFFF;

  --bg-note-color: #FFF510;
  --bg-note-inactive-color: #fffee4;
  --bg-negative-color: #B01313;
  
  --cal-booking-bg: rgb(2, 73, 97);
  --cal-booking-font: rgb(239, 251, 255);
  --cal-booking-selected-bg: rgb(239, 251, 255);
  --cal-booking-selected-font: rgb(2, 73, 97);
  --cal-booking-editing-bg: #FFF510;
  --cal-booking-editing-font: #000000;
  --cal-booking-new-bg: rgba(2, 50, 66, 0.4);
  --cal-booking-new-font: rgb(239, 251, 255);
  
  --font-prim-color: #000000;
  --font-inverse-color: #FFFFFF;
  --font-select-color: #777777;
  --font-alert-color: #B01313;
  --font-highlight-color: #00a5c3;
  --font-disabled-color: rgba(35,35,35, 0.4);
  
  --accept-color: #0D9D00;
  --reject-color: #B01313;
  --delete-color: #B01313;

  --reset-color: #FFFBA0;

  --negative-color: #B01313;
  --positive-color: #B2EA8F;

  --new-star-color: #FEFFC1;

  --upcoming-color: #5f6f3b;
  --past-color: #E67C00;
  --current-color: #5468e7;

  --default-count-color: #FFFFFF;

  --border-color: rgba(14, 14, 14, 0.7);
  --focussed-border-color: rgba(102, 120, 243, 0.9);
  --disabled-border-color: rgba(35, 35, 35, 0.5);

  --note-exists-color: #000000;
  --note-doesnt-exist-color: rgba(0, 0, 0, .2);
 
  --missing-color: #888888;
  --loading-color: #888888;

  --acco-card-shadow:  
      -1.2px -3.7px 4.5px rgba(0, 0, 0, 0.017),
      -1.4px -4.4px 8.9px rgba(0, 0, 0, 0.024),
      -0.4px -1.3px 13.3px rgba(0, 0, 0, 0.03),
      1.7px 5.5px 17.9px rgba(0, 0, 0, 0.035),
      4.9px 15.5px 23.3px rgba(0, 0, 0, 0.04),
      8.9px 28.2px 30.7px rgba(0, 0, 0, 0.046),
      13.7px 43.1px 43.8px rgba(0, 0, 0, 0.053),
      19px 60px 80px rgba(0, 0, 0, 0.07);
  --acco-card-font: white;
  --acco-card-bg: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-prim-color);
  background-color: var(--bg-base);
}

input {
  background-color: var(--bg-prim-color);
}

*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  font-family: 'Raleway';
  background-color: var(--bg-prim-color);
}

input {
  font-family: 'Raleway';  
}

input:focus {
  outline: rgba(from var(--focussed-border-color) r g b / 0.4) auto 1px;
  box-shadow:
    0px 0px 2.2px rgba(0, 0, 0, 0.007),
    0px 0px 5.3px rgba(0, 0, 0, 0.017),
    0px 0px 10px rgba(0, 0, 0, 0.032),
    0px 0px 17.9px rgba(0, 0, 0, 0.051),
    0px 0px 33.4px rgba(0, 0, 0, 0.07),
    0px 0px 80px rgba(0, 0, 0, 0.07);
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}

a {
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline: none;
}

a:focus {
  outline-style: none;
}

a:enabled:active {
  filter: blur(0.1rem);
}

ul {
  margin-inline-start: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}

ol {
  padding-left: 0.5rem;
  margin: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

select {
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 0.15rem solid var(--border-color);
  background-color: var(--bg-prim-color);
  border-radius: 0.5rem;
  color: var(--font-prim-color);
  font-size: 1.1rem;
}

*::selection {
  background-color: var(--font-select-color);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 0.2rem;
  padding-top: 0.4rem;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 0.6rem;
  padding-top: 1rem;
}

h2 {
  font-size: 2.2rem;
  padding-bottom: 0.8rem;
  padding-top: 1.2rem;
}

h1 {
  font-size: 3.2rem;
  padding-bottom: 0.8rem;
  padding-top: 1.2rem;
  text-align: center;
}


